@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin:0;
  padding:0;
  bleed:0;
  font-family:"Ubuntu";
  font-weight:700;
  color:#9a9aa7;
}
body{
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items:center;
  background:#151519;
}
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track{
  background:#25252c;
}
::-webkit-scrollbar-thumb{
  background:#606068;
}
.main-container{
  display:flex;
  flex-direction:column;
  padding:0 20rem;
  padding-bottom:50px;
}
.word-category{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.category-title{
  margin:20px;
}
.container{
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  width:fit-content;
}
.word{
  padding:10px;
  margin:5px;
  text-decoration:none;
  background:#25252c;
  text-align:center;
}
.commentary{
  color:#606068;
  width:max-content;
  text-align:center;
}
.input-container{
  width:40%;
  margin:40px 0;
  display:flex;
  flex-direction:column;
}
.input-title{
  margin:20px;
}
.word-input{
  padding:10px;
  font-size:20px;
  background:#25252c;
  outline:none;
  border:none;
  text-align:center;
  width:calc(100% - 10px * 2);
}
@keyframes smooth-pop{
  0%{
    opacity:0;
    transform:translateY(50%);
  }
  5%{
    opacity:1;
    transform:translateY(0%);
  }
  95%{
    opacity:1;
    transform:translateY(0%);
  }
  100%{
    opacity:0;
    transform:translateY(-50%);
  }
}
.error{
  opacity:0;
  background:#e45b5b;
  width:70%;
  padding:20px 50px;
  position:fixed;
  bottom:20px;
  color:#fff;
  text-align:center;
  font-size:20px;
  border-radius:5px;
}
@media (orientation: portrait){
  .container{
    display:grid;
    grid-template-columns:repeat(2, auto);
  }
  .word-category{
    font-size:15px;
  }
  .input-container{
    width:calc(100% - 2rem * 2);
  }
  .main-container{
    padding:0;
  }
}
